<% provide :title, t("pages.about.subtitle") %>
<h1><%= t "pages.about.subtitle" %></h1>
<p>
  <%= t "pages.about.about_html", 
          tutorial_href: link_to(t("pages.about.tutorial_href"), Settings.link.tutorial_link),
          learn_href: link_to(t("pages.about.learn_href"), Settings.link.learn_link),
          book_href: link_to(t("pages.help.book_href"), Settings.link.book_link),
          series_href: link_to(t("pages.about.series_href"), Settings.link.series_link),
          ror_href: link_to(t("pages.about.ror_href"), Settings.link.ror_link)
        %>
</p>
