<% provide :title, t("pages.contact.subtitle") %>
<h1><%= t "pages.contact.subtitle" %></h1>
<p>
  <%= t "pages.contact.contact_html", contact_href: link_to(t("pages.contact.contact_href"), Settings.link.contact_link) %>
</p>
