<h1><%= t "pw_reset.send_mail.title" %></h1>
<p><%= t "pw_reset.send_mail.text_one" %></p>
<%= link_to t("pw_reset.send_mail.title"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "pw_reset.send_mail.text_two" %></p>
