<% provide :title, t("user.index.index_title") %>
<h1><%= t "user.index.index_title" %></h1>
<ul class="users">
  <ul class="users">
    <%= render @users %>
  </ul>
</ul>
<div class="pl-5 pt-4">
  <%= paginate @users, theme: "twitter-bootstrap-4" %>
</div>
