<% provide :title, t("pages.signup.title") %>
<% provide :button_text, t("user.new.btn_submit") %>
<h1><%= t "pages.signup.title" %></h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render "form" %>
  </div>
</div>
